.bt-view.bt-view.bt-day-parting-grid-view(data-ref='dayPartingGrid', onselectstart="return false")

  ._52t2.clearfix
    ._8-y 12am
    ._8-z
    ._8-z
    ._8-y 3am
    ._8-z
    ._8-z
    ._8-y 6am
    ._8-z
    ._8-z
    ._8-y 9am
    ._8-z
    ._8-z
    ._8-y 12pm
    ._8-z
    ._8-z
    ._8-y 3pm
    ._8-z
    ._8-z
    ._8-y 6pm
    ._8-z
    ._8-z
    ._8-y 9pm
    ._8-z
    ._8-z
    ._8_p All Day
  div
    div(ng-repeat="day in dateGrid.week", ng-class="{'_8-v _516k clearfix': ($index == 0), '_516k clearfix': ($index > 0 && $index < 7), '_8-x _516k clearfix': ($index == 7)}")

      .bt-view.bt-view._516l._516q
        ._516r {{day.title}}

      .bt-view.bt-view
        div(id="hourGrid", ng-repeat="hour in day.hours", ng-mousedown="hourMouseDown(hour)", ng-mouseover="hourMouseOver(hour)", ng-class="{'_516n _516l _516m': ($index%3 == 0), '_516p _516l _516m': ($index%3 == 1), '_516o _516l _516m': ($index%3 == 2), 'hourStatus-selected': hour.selected}")

      //- All day
      .bt-view.bt-view._8-w(id="allDayGrid", data-ref='allDayBox0', ng-mousedown="allDayMouseDown(day, $index)", ng-mouseover="allDayMouseOver(day, $index)", ng-class="{'hourStatus-selected': day.allday.selected}")

    //- Everyday
    ._8-x._516k.clearfix
      .bt-view.bt-view._516l._516q(data-ref='everyDayLabel')
        ._516r {{dateGrid.everyday.title}}

      .bt-view.bt-view
        div(id="everydayGrid", ng-repeat="hour in dateGrid.everyday.hours", ng-mousedown="everydayMouseDown(hour)", ng-mouseover="everydayMouseOver(hour)", ng-class="{'_516n _516l _516m': ($index%3 == 0), '_516p _516l _516m': ($index%3 == 1), '_516o _516l _516m': ($index%3 == 2), 'hourStatus-selected': hour.selected}")


  ._496o
    .hourStatus-selected._496q
    div Scheduled hours are shaded blue
